<%= form_for(@problema) do |f| %>
  <% if @problema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problema.errors.count, "error") %> prohibited this problema from being saved:</h2>

      <ul>
      <% @problema.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :resposta %><br>
    <%= f.text_field :resposta %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.collection_select :status_id, Status.all, :id, :descricao, :prompt => "Selecionar Status" %>
  </div>
  <div class="field">
    <%= f.label :relator %><br>
    <%= f.collection_select :usuario_id, Usuario.where(" perfil_id = 2 "), :id, :nome_completo, :prompt => "Selecione o Autor" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
